<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2> Routing Demo</h2>
</div>

<header>
    <h3>This is Header</h3>
    <a routerLink="/">Home</a> | <a [routerLink]="['about']">About Us</a> | <a routerLink="/contact">Contact Us</a>
    | <a routerLink="/product-list">Products</a>| <a routerLink="/login">Login</a>| <a routerLink="/<admin></admin>">Admin</a>
</header>
<hr />

<h3>This is content area</h3>
<router-outlet></router-outlet>
<hr />

<footer>
  This is footer
</footer>